*{
    box-sizing: border-box;
}

.button-active{
    background-color:teal;
    padding:10px;
    border-radius: 15px;
    width: 100%
    display: inline-block;
    text-decoration: none;
    color: white;
    /* hover, gradient */
}

/*Tells image to be as big as parent*/
.img-fluid{
    width: 100%; 
}

/*Nav bars*/

/*Footer*/


/*Layout - column widths*/

.main-container{
    width: 100%
}

.col-12{
    width: 100%
    float: leeft;
}

.col-9{
    width: 75%
    float:left;
}

.col-8{
    width: 66.666667%
    float:left;
}

.col-6{
    width: 50%
    float:left;
}

.col-5{
    width: 41.666667%
    float:left;
}

.col-4{
    width: 33.33333%
    float: left;
}

.col-3{
    width: 25%
    float: left;
}

.col-2{
    width=16.6666667%
    float: left;
}

.col-1{
    width: 8.33333%;
    float: left;
}